@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{
    background-color: hsl(30, 38%, 92%);
}
body{
    display: flex;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    place-content: center;
}

footer{
    position: absolute;
    bottom: 0;
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: 1rem;
    background-color: hsl(30, 38%, 92%);
    max-width: 100%;
    
    
}




.container1{
    display: flex;
    background-color: white;
    max-width: 100%;
    gap: 1rem;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    max-height: 100%;
    
    
    
}
.container1 img{
    display: block;
    max-width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}

.container2{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    
    
    
}

.container2 .perfume{
    display: flex;
    color: hsl(228, 12%, 48%);
    letter-spacing: .3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.container2 .title{
    display: flex;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    
}

.container2 .aciklama {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
    
}
.container2 .price{
    display: flex;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.container2 .price .discount-price{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: medium;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.container2 button{
    display: flex;
    
    flex-flow: row nowrap;
    gap: 1rem;
    max-width: 100%;
    max-height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color:hsl(158, 36%, 37%); 
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    border: hsl(158, 36%, 37%);
    cursor: grab;
    
}
@media (min-width:376px){
    main{
        flex-direction: row;
        max-width: 40%;
        
        place-content: center;
        margin: auto;
    }
    .container1 img{
        content:url(./images/image-product-desktop.jpg);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
        max-width: 100%;
        
        
    }
    .container1{
        border-bottom-left-radius: 10%;
        max-width: 100%;
        
    }
    .container2{
        border-bottom-right-radius: 5%;
        border-top-right-radius: 5%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        max-width: 50%;
        
        
        
        
    }
  
}
